:root {
	--color: #e1306c;
	--bg-color: #fff2f6;
}

.context-menu {
	width: 150px;
	position: absolute;
	
	display: flex;
	flex-direction: column;

	background-color: #fff;
	border-radius: 4px;
	border: 2px solid var(--color);

	overflow: hidden;
	z-index: 100;

}

.context-menu > * {
	padding: 6px 9px;
	
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	font-weight: 300;
	
	color: var(--color);
}

.context-menu > *:hover {
	background-color: var(--bg-color);
}

.context-menu #download {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-decoration: none;
}

.fetching {
	position: fixed;
	top: 54px;
	left: 0;
	padding: 6px 9px;

	border-radius: 0 0 4px 0;

	background-color: var(--color);
	color: #fff;
	
	font-size: 12px;

	z-index: 100;
    user-select: none;
	animation: loading 2.1s ease 0s infinite;

}

@keyframes loading {
	to {
		filter: hue-rotate(360deg);
	}
}
