:root {
    --color: #e1306c;
    --color-light: #ffeef4;
    --min-height: 400px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .25rem 0;
    /*border-bottom: 1px solid #d2d2d2;*/
    background-color: #f0f0f0;
}

header > * {
    margin: .25rem 0;
}

ul.steps {
    counter-reset: step-counter;
    list-style-type: none;
}

li.step::before {
    /*content: counter(step-counter);*/
    counter-increment: step-counter;
    /*color: var(--color);*/
    background-color: var(--color);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    opacity: .7;
    margin-right: 1rem;
    font-size: 1.5rem;
    font-weight: "bold";
}

li.step {
    display: flex;
    align-items: flex-start;
    padding: 1.3rem;
}

li.step:not(:last-child) {
    padding-bottom: 0;
}

li.step img {
    display: block;
    margin-bottom: .35rem;
    border-radius: 5px;
    box-shadow: 0 0 6px #c4c4c4;
}

li.step .counter {
    color: var(--color);
    font-size: .9rem;
}

footer {
    padding: .5rem;
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ebebeb;
}

footer .version {
    text-align: center;
}
