:root {
    --color: #e1306c;
    --color-light: #ffeef4;
    --min-height: 400px;
}

* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .3rem 0;
    background-color: #2b958c;
    font-family: Calibri;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

header>* {
    margin: .3rem 0;
}

ul.steps {
    counter-reset: step-counter;
    list-style-type: none;
    font-family: Calibri;
}

li.step::before {
    /*content: counter(step-counter);*/
    counter-increment: step-counter;
    /*color: var(--color);*/
    background-color: var(--color);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    opacity: .7;
    margin-right: 1rem;
    font-size: 1.5rem;
    font-weight: "bold";
    font-family: Calibri;
}

li.step {
    display: flex;
    align-items: flex-start;
    padding: 1.3rem;
}

li.step:not(:last-child) {
    padding-bottom: 10;
}

li.step img {
    display: block;
    margin-bottom: .35rem;
    border-radius: 5px;
    box-shadow: 0 0 6px #948e8e;
}

li.step .counter {
    color: var(--color);
    font-size: .9rem;
    font-family: Calibri;
}

footer {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #171b1a;
    border-top: 1px solid #ebebeb;
    font-family: Calibri;
}

footer>*:not(:last-child) {
    margin-bottom: .2rem;
}

footer a {
    text-decoration: none;
    color: rgb(7, 147, 202);
}

footer a:hover {
    text-decoration: underline dashed;
}

footer .support {
    display: flex;
}

footer .support>* {
    margin: 0 .35rem;
}

footer .version {
    text-align: center;
    color: white;
    /*margin: .35rem;*/
}